# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.opendb
*.pdb
*.ilk
*.idb
*.ipch
*.db-wal
Voronoi/.BridgeSort
.vs/VoronoiTracer/v16/.suo
.vs/VoronoiTracer/v16/Browse.VC.db
*.db-shm
*.ipch
*.db
.vs/VoronoiTracer/v16/.suo
*.idb
*.pdb
*.ilk
*.log
